In [7]:
import pandas as pd
import numpy as np
import re

In [31]:
df = pd.read_csv('most-frequent-names.csv')
df

      Order          Name  Gender       Decade  Frequency
0         1         MARIA  Female  Before 1930       2085
1         2        CARMEN  Female  Before 1930       1463
2         3        JOSEFA  Female  Before 1930       1032
3         4    MONTSERRAT  Female  Before 1930        879
4         5          ROSA  Female  Before 1930        762
...     ...           ...     ...          ...        ...
1095     46          RAUL    Male        TOTAL       3146
1096     47    JOSE MARIA    Male        TOTAL       3140
1097     48  JOSE ANTONIO    Male        TOTAL       2994
1098     49       RICARDO    Male        TOTAL       2991
1099     50        GERARD    Male        TOTAL       2988

[1100 rows x 5 columns]

In [38]:
df['Name'].apply(str)

0              MARIA
1             CARMEN
2             JOSEFA
3         MONTSERRAT
4               ROSA
            ...
1095            RAUL
1096      JOSE MARIA
1097    JOSE ANTONIO
1098         RICARDO
1099          GERARD
Name: Name, Length: 1100, dtype: object

In [55]:
vowels = set("AEIOU")
df['Name'].str.count(r'[AEIOU]').max()
print(df['Name'].str.count(r'[AEIOU]').max())
for i in df['Name']:
    if df['Gender']=='Female' and df['Name'].str.count(r'[AEIOU]') == 6:
        print(df[i])

6

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().